<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style_concluido.css">
    <title>Cadastro concluído</title>
</head>
<body>
    <div class="box">
        <h1>Cadastro concluído</h1>
        <br>
        <p>Obrigado por se inscrever em nosso serviço de notificação de oportunidades de programação! Seu cadastro foi concluído com sucesso.
            <br>
            <br>
            Como mencionado em nossa política de privacidade, coletamos apenas seu nome e endereço de e-mail para enviar notificações sobre oportunidades de programação e compartilhar informações relevantes sobre eventos, recursos e outros conteúdos relacionados à programação.
            <br>
            <br>
            Suas informações pessoais serão protegidas por medidas de segurança físicas, eletrônicas e administrativas adequadas para protegê-las contra acesso não autorizado, uso ou divulgação.
            <br>
            <br>
            Estamos em fase de teste e podemos fazer alterações em nossa política de privacidade e em nosso serviço de notificação de oportunidades de programação. No entanto, faremos o possível para notificá-lo com antecedência caso ocorram mudanças significativas.
            <br>
            <br>
            Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade ou como usamos suas informações pessoais, entre em contato conosco por e-mail: zanettig520@gmail.com.
            <br>
            <br>
            Lembre-se de que você tem o direito de acessar, corrigir ou excluir suas informações pessoais que temos em nosso sistema. Basta entrar em contato conosco por e-mail para fazer isso.
            <br>
            <br>
            Mais uma vez, obrigado por se inscrever em nosso serviço. Esperamos fornecer informações valiosas sobre oportunidades de programação para você no futuro.</p>
            <br>
    </div>
</body>
</html>