<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Políticas de Privacidade</title>
</head>

<body>
    <div class="box">
        <h1>Políticas de privacidade</h1>
        <div class="boxpriva">
            <p>
                Agradecemos pelo interesse de se inscrever em nosso serviço de notificação de oportunidades de programação. Esta
                política de privacidade descreve como coletamos, usamos e protegemos suas informações pessoais. Ao se
                inscrever em nosso serviço, você concorda com os termos desta política.
                <br>
                <br>
                Coleta de informações
                <br>
                <br>
                Para se inscrever em nosso serviço, você precisa nos fornecer seu nome e endereço de e-mail. Essas
                informações são usadas exclusivamente para enviar notificações sobre as últimas oportunidades de
                programação que encontramos e compartilhar informações relevantes sobre eventos, recursos e outros
                conteúdos relacionados à programação.
                <br>
                <br>
                Uso de informações
                <br>
                <br>
                As informações que você nos fornece serão usadas apenas para os fins descritos nesta política de
                privacidade. Não compartilharemos suas informações com terceiros sem o seu consentimento expresso, a
                menos que sejamos obrigados a fazê-lo por lei.
                <br>
                <br>
                Proteção de informações
                <br>
                <br>
                Levamos a proteção de suas informações pessoais muito a sério. Implementamos medidas de segurança
                físicas, eletrônicas e administrativas adequadas para proteger suas informações contra acesso não
                autorizado, uso ou divulgação.
                <br>
                <br>
                Fase de teste
                <br>
                <br>
                Este serviço está em fase de teste. Isso significa que podemos fazer alterações nesta política de
                privacidade e em nosso serviço de notificação de oportunidades de programação. Faremos o possível para
                notificar você com antecedência caso ocorram mudanças significativas nesta política ou em nosso serviço.
                <br>
                <br>
                Seus direitos
                <br>
                <br>
                Você tem o direito de acessar, corrigir ou excluir suas informações pessoais que temos em nosso sistema.
                Para fazer isso, basta entrar em contato conosco por e-mail.
                <br>
                <br>
                Entre em contato
                <br>
                <br>
                Se você tiver alguma dúvida ou preocupação sobre esta política de privacidade ou sobre como usamos suas
                informações pessoais, entre em contato conosco por e-mail: zanettig520@gmail.com .
                <br>


            </p>
        </div>
        <div class="boxBtn">
            <h1></h1>
        <a href="../index.html" class="btn-voltar">Voltar</a>
    </div>
    </div>
</body>

</html>